<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    {# HERE = REFERENCEMENT #}

    <title>{% block title %}BotMe !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}" />

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Material Design Bootstrap Compiled -->
    <link href="{{ asset('assets/css/mdb.css') }}" rel="stylesheet">

    <!-- Template style -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    <!-- Form connexion & sign up style -->
    <link href="{{ asset('assets/css/forms.css') }}" rel="stylesheet">

    <!-- CSS for Basic Console Bot -->
    <link href="{{ asset('assets/css/bots/basicConsole.css') }}" rel="stylesheet"> 

</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <img src="{{ asset('assets/img/logo.png') }}" alt="BotMe" class="logoloz animated bounce">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{{ path('homepage') }}#carousel-bg" class="waves-effect waves-light">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}#about-me" class="waves-effect waves-light">A propos</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}#blog" class="waves-effect waves-light">Chatbots</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}#portfolio" class="waves-effect waves-light">Nos secteurs</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}#contact" class="waves-effect waves-light">Contact</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- {% if is_granted('ROLE_ADMIN') %} -->
                        <!-- <li>
                            <a class="waves-effect waves-light">
                                <i class="fa fa-key"></i> Dashboard
                            </a>
                        </li> -->
                    <!-- {% endif %} -->
                    <li>
                        <a class="waves-effect waves-light">
                            <i class="fa fa-user"></i> Mon profil</a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light">
                            <i class="fa fa-lock"></i> Déconnection</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--/.Navigation-->
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}

    <!-- Footer with social buttons -->
    <footer class="page-footer blue-grey">
        <div class="container-fluid">
            <div class="row text-center wow fadeIn">
                <h4 class="white-text">Retrouvez nous sur les réseaux sociaux</h4>
                <div class="col-md-4">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="waves-effect waves-light signup">
                                CGV / CGU</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-light login">
                                Mentions Légales</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a class="btn-sm-full fb-bg rectangle waves-effect waves-light" target="_blank">
                        <i class="fa fa-facebook"> </i>
                        <span>Facebook</span>
                    </a>
                    <a class="btn-sm-full tw-bg rectangle waves-effect waves-light" target="_blank">
                        <i class="fa fa-twitter"> </i>
                        <span>Twitter</span>
                    </a>
                    <a href="https://github.com/Fradeira/BotMe" class="btn-sm-full git-bg rectangle waves-effect waves-light" target="_blank">
                        <i class="fa fa-github"> </i>
                        <span>Github</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <!-- Other -->
                </div>
            </div>
        </div>
        <br>
        <div class="footer-copyright">
            <div class="container-fluid text-center">
                © 2018 Copyright
                <a class="grey-text text-lighten-4 right">BotMe
                    <i class="fa fa-heart heart-color" style="color:red;"></i>
                </a>
            </div>
        </div>
    </footer>
    <!--/. Footer with social buttons -->

    <!--/. Parallax -->

    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <!-- Material Design Bootstrap -->
    <script type="text/javascript" src="{{ asset('assets/js/mdb.js') }}"></script>

    <!-- Smooth scroll -->
    <script type="text/javascript" src="{{ asset('assets/js/smooth-scroll.js') }}"></script>

    <!-- CDN's -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript">

        var url = window.location;
        var now = new Date().toLocaleDateString();
        var new_now = now.replace(new RegExp(/[/]/g, 'g'), '.')
        var time = new Date().toLocaleTimeString();
        var date = new_now + ' à ' + time;

        var socket = io.connect('http://localhost:3615');

        // On recupere le pseudo de lutilisateur courant, on l'envoie au serveur et on l'affiche dans le titre
        // var pseudo = $('#formulaire_chat').attr('alt_user'); A modifier si on recuperer le nom user de la plateforme
        var pseudo = "Anonyme"; 
        var classeB;

        socket.emit('nouveau_client', pseudo);
        document.title = pseudo + ' - ' + document.title;

        socket.on('messagec', function (data) {
            $('#zone_chat_1').append('<p class="bot_style" alt_user="' + data.pseudo + '">' + data.message + '</br><span class="sgu">' + data.pseudo + ' le ' + data.date + '</span></p>');
        });

        socket.on('waiting', function (data) {
            var img = document.getElementById("toz");
            var angle = 0;

            $('#zone_chat_1').append('<p class="bot_style" alt_user="' + data.pseudo + '"> Merci de patienter le temps que j\'effectue ma recherche. </br><span class="sgu">' + data.pseudo + ' le ' + data.date + '</span></p>');

            $(" #toz ").css("display", "block");

            setInterval(function () {
                img.style.transform = "rotateZ(" + angle++ + "deg)";
            }, 10);

            setTimeout(function () {
                $(" #toz ").css("display", "none");
            }, 2800);
        });

        socket.on('recap', function (json) {
            var tab = [];

            if (json == "ECONOMY" || json == "BUSINESS") {
                classeB = json;
            } else {
                tab.push(json);
                printTickets(tab, classeB);
            }
        });

        function printTickets(data, classeB) {

            var monBillet = "<span style='color:#fff;'>Voici une proposition de billet : </span><div class='col-lg-12 insertBillet'>\n" +
                "<div id='carouselExampleControls' class='carousel slide carousel-fade' data-ride='carousel'>\n" +
                "<ol class='carousel-indicators'>\n" +
                "<li data-target='#carouselExampleControls' data-slide-to='1' class='active'></li>\n";

            for (var i = 1; i < Object.keys(data[0].itineraries).length; i++) {
                monBillet += "<li data-target='#carouselExampleControls' data-slide-to='" + i + "'></li>\n";
            }

            monBillet += "</ol><div class='carousel-inner' role='listbox'>\n";

            monBillet += "<div class='carousel-item active'>\n" +
                "<div class='billet'>\n" +
                "<div class='col-md-12' style='text-align: center;padding: 3px 0px;height: 50px;width: 86%;'>\n" +
                "<h4>Carte d'embarquement</h4>\n" +
                "<span>Boarding Pass</span>\n" +
                "</div>\n" +
                "<img src='img/air.png' class='air'>\n" +
                "<div class='col-md-12' style='padding: 10px 24px;text-align: left;'>\n" +
                "<span>Classe : <strong id='classes'>" + classeB + "</strong></span><br>\n" +
                "<span>Prix total : <strong>" + data[0].itineraries[0].flightProducts[0].price.totalPrice + " € </strong> <i>( Ce billet prend en compte " + data[0].itineraries[0].flightProducts[0].passengers.length + " personne(s), calculé par Air France )</i> </span><br>\n" +
                "<span>Passager(s) : <strong>";

            monBillet += data[0].itineraries[0].flightProducts[0].passengers.length;

            monBillet += "</strong></span><br>\n" +
                "</div>\n" +
                "<div class='col-md-12' style='height: 80px;'>\n" +
                "<table>\n" +
                "<tr>\n" +
                "<td class='strong'>Vol</td>\n" +
                "<td class='strong'>Départ</td>\n" +
                "  <td class='strong'>Arrivée h</td>\n" +
                "<td class='strong'>De ... A ( " + (data[0].itineraries[0].connections[0].segments.length - 1) + " escale(s) )</td>\n" +
                "</tr>\n" +
                "<tr>\n" +
                "<td id='flight'>" + data[0].itineraries[0].connections[0].segments[0].marketingFlight.carrier.code + "</td>\n" +
                "<td id='date'>" + data[0].itineraries[0].connections[0].segments[0].departureDateTime.split('T')[1] + "</td>\n" +
                "<td id='hour'>" + (data[0].itineraries[0].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).arrivalDateTime.split('T')[1] + "</td>\n" +
                "<td>\n" +
                "<span id='from'>" + data[0].itineraries[0].connections[0].segments[0].origin.name + " ( " + data[0].itineraries[0].connections[0].segments[0].origin.code + " )</span>\n" +
                "<br>\n" +
                "<span id='to2'>" + (data[0].itineraries[0].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).destination.name + " ( " + (data[0].itineraries[0].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).destination.code + " )</span>\n" +
                "</td>\n" +
                "</tr>\n" +
                "</table>\n" +
                "</div>\n" +
                "</div>\n" +
                "</div>\n";

            for (var i = 1; i < data[0].itineraries.length; i++) {
                "<ol class='carousel-indicators'>\n" +
                    "<li data-target='#carouselExampleControls' data-slide-to='0' class='active'></li>\n" +
                    "<li data-target='#carouselExampleControls' data-slide-to='1'></li>\n" +
                    "<li data-target='#carouselExampleControls' data-slide-to='2'></li>\n" +
                    "</ol>\n"
                monBillet += "<div class='carousel-item'>\n" +
                    "<div class='billet'>\n" +
                    "<div class='col-md-12' style='text-align: center;padding: 3px 0px;height: 50px;width: 86%;'>\n" +
                    "<h4>Carte d'embarquement</h4>\n" +
                    "<span>Boarding Pass</span>\n" +
                    "</div>\n" +
                    "<img src='img/air.png' class='air'>\n" +
                    "<div class='col-md-12' style='padding: 10px 24px;text-align: left;'>\n" +
                    "<span>Classe : <strong id='classes'>" + classeB + "</strong></span><br>\n" +
                    "<span>Prix total : <strong id='prix'>" + data[0].itineraries[i].flightProducts[0].price.totalPrice + " € </strong> <i>( Ce billet prend en compte " + data[0].itineraries[i].flightProducts[0].passengers.length + " personne(s), calculé par Air France )</i></span><br>\n" +
                    "<span>Passager(s) : <strong>";

                monBillet += data[0].itineraries[i].flightProducts[0].passengers.length;

                monBillet += "</strong></span><br>\n" +
                    "</div>\n" +
                    "<div class='col-md-12' style='height: 80px;'>\n" +
                    "<table>\n" +
                    "<tr>\n" +
                    "<td class='strong'>Vol</td>\n" +
                    "<td class='strong'>Départ</td>\n" +
                    "  <td class='strong'>Arrivée h</td>\n" +
                    "<td class='strong'>De .. A ( " + (data[0].itineraries[i].connections[0].segments.length - 1) + " escale(s) )</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<td id='flight'>" + data[0].itineraries[i].connections[0].segments[0].marketingFlight.carrier.code + "</td>\n" +
                    "<td id='date'>" + data[0].itineraries[i].connections[0].segments[0].departureDateTime.split('T')[1] + "</td>\n" +
                    "<td id='hour'>" + (data[0].itineraries[i].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).arrivalDateTime.split('T')[1] + "</td>\n" +
                    "<td>\n" +
                    "<span id='from'>" + data[0].itineraries[i].connections[0].segments[0].origin.name + "(" + data[0].itineraries[i].connections[0].segments[0].origin.code + ")</span>\n" +
                    "<br>\n" +
                    "<span id='to2'>" + (data[0].itineraries[i].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).destination.name + " ( " + (data[0].itineraries[i].connections[0].segments[data[0].itineraries[0].connections[0].segments.length - 1]).destination.code + " )</span>\n" +
                    "</td>\n" +
                    "</tr>\n" +
                    "</table>\n" +
                    "</div>\n" +
                    "</div>\n" +
                    "</div>\n";
            }

            monBillet += "</div>\n" +
                "<a class='carousel-control-prev' href='#carouselExampleControls' role='button' data-slide='prev'>\n" +
                "<span class='carousel-control-prev-icon' aria-hidden='true'></span>\n" +
                "<span class='sr-only'>Precedent</span>\n" +
                "</a>\n" +
                "<a class='carousel-control-next' href='#carouselExampleControls' role='button' data-slide='next'>\n" +
                "<span class='carousel-control-next-icon' aria-hidden='true'></span>\n" +
                "<span class='sr-only'>Suivant</span>\n" +
                "</a>\n" +
                "</div>\n" +
                "</br><span class='sgu'>BotMe le " + date + "</span></div>";

            setTimeout(function () {
                $('#zone_chat_1').append('<p class="bot_style insertBill" style="display:none;width:100%;margin-bottom: 32px;"></p>');
                $('#zone_chat_1 .insertBill').append(monBillet);
                $('#zone_chat_1 .user_style:last-child').append(monBillet);
                $('#zone_chat_1 .insertBill').fadeIn(1);
                $('#zone_chat_1').animate({
                    scrollTop: $("p:last-child").offset().top
                }, 300);
            }, 2500);
        }

        $('#message').keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                var message = $('#message').val();

                if (message != "") {
                    var now = new Date().toLocaleDateString();
                    var new_now = now.replace(new RegExp(/[/]/g, 'g'), '.')
                    var time = new Date().toLocaleTimeString();
                    var date = new_now + ' à ' + time;

                    insereMessage(pseudo, message, date);

                    socket.emit('message', message);

                    $('#message').val('').focus();
                    return false;
                }
            }
        });

        $("#envoi_message").click(function (e) {
            e.preventDefault();
            var message = $('#message').val();

            if (message != "") {
                var now = new Date().toLocaleDateString();
                var new_now = now.replace(new RegExp(/[/]/g, 'g'), '.')
                var time = new Date().toLocaleTimeString();
                var date = new_now + ' à ' + time;

                insereMessage(pseudo, message, date);

                socket.emit('message', message);

                $('#message').val('').focus();
                return false;
            }
        });

        function insereMessage(pseudo, message, date) {
            $('#zone_chat_1').append('<p class="user_style" alt_user="' + pseudo + '">' + message + '</br><span class="sgu">' + pseudo + ' le ' + date + '</span></p>');

            $('#zone_chat_1').animate({
                scrollTop: $("p:last-child").offset().top
            }, 800);
        }
    </script>

    <!-- WOW effect -->
    <script>
        new WOW().init();
    </script>
</body>

</html>