{% extends 'templates_front/base.html.twig' %}

    {% block body %}
        <div id="carousel-bg" class="carousel carousel-full-bg slide carousel-fade" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="homepage-hero-module">
                        <div class="carousel-caption animated fadeIn">
                            <h3 class="animation rotateIn">Trouvez et créez votre <span class="botmecolor">I.A</span></h3>
                            <a class="btn btn-outline-primary waves-effect discover animated pulse" href="#about-me">Découvrir</a>
                        </div>
                        <img src="{{asset('assets/front/img/home/1.jpg')}}" alt="">
                    </div>
                </div>
                <div class="item ">
                    <div class="homepage-hero-module">
                        <div class="carousel-caption animated fadeIn">
                            <h3 class="animation rotateIn">Trouvez et créez votre <span class="botmecolor">A.I</span></h3>
                            <a href="#about-me" class="btn btn-outline-primary waves-effect discover animated pulse">Découvrir</a>
                        </div>
                        <img src="{{asset('assets/front/img/home/2.jpg')}}" alt="">
                    </div>
                </div>
            </div>
            <!-- Decomment if you need to show arrow -->
            <a class="left carousel-control new-control" href="#carousel-bg" role="button" data-slide="prev">
                <!-- <span class="fa fa fa-angle-left waves-effect waves-light"></span>
                <span class="sr-only">Previous</span> -->
            </a>
            <a class="right carousel-control new-control" href="#carousel-bg" role="button" data-slide="next">
                <!-- <span class="fa fa fa-angle-right waves-effect waves-light"></span>
                <span class="sr-only">Next</span> -->
            </a>

        </div>

        <section class="section-dark" id="about-me">
            <h3 class="wow fadeIn">A propose de nous</h3>
        </section>
        <section class="parallax" id="par-about-me">
            <div class="container text-center">
                <p class="flow-text text-center wow fadeIn">
                    Créé en 2018 à l'ESGI, nous sommes une société de vente de services de chatbot sur-mesure.
                    <br><br>
                    Nous sommes deux partenaires développeur et nous répondons à tous les besoins de nos clients en matière d'
                    <span class="botmecolor">
                        Intelligence Artificielle </span> pour les Chatbots.
                    <br><br>
                </p>
                <div class="space-30"></div>
                <div class="container container-small">
                    <div class="row wow fadeIn">
                        <div class="col-md-6">
                            <div class="testimonial-card z-depth-1">
                                <div class="card-up cyan darken-4">
                                </div>
                                <div class="avatar">
                                    <img src="{{ asset('assets/front/img/team/gui.jpg') }}" class="img-circle img-responsive">
                                </div>
                                <div class="card-content">
                                    <h5>Guillaume Fradeira</h5>
                                    <p>
                                        <i class="fa fa-quote-left"></i>
                                        Depuis environ 2 ans, je travaille sur l'
                                        <span class="botmecolor"> Intelligence Artificielle </span>. Suite a cela, je développe des intelligences artificielles sur-mesure pour des
                                        client spécifique ayant une demande bien particulière.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="testimonial-card z-depth-1">
                                <div class="card-up default-color-dark">
                                </div>
                                <div class="avatar">
                                    <img src="{{ asset('assets/front/img/team/kev.jpg') }}" class="img-circle img-responsive">
                                </div>
                                <div class="card-content">
                                    <h5>Kevin Morand</h5>
                                    <p>
                                        <i class="fa fa-quote-left"></i> Mon expérience de travail avec l'
                                        <span class="botmecolor"> Intelligence Artificielle </span> était très positive. Ce professionnalisme était rafraîchissant et je suis
                                        très heureux de pouvoir travailler de nouveau avec des Bots.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="blog" class="parallax" id="par-learn-more">
            <div class="container text-center">
                <div class="row wow fadeIn">
                    <h3>Nos chatbots</h3>
                    <br>
                    <br>
                    <h6>Pour visualiser et essayer l'un de nos robots, inscrivez-vous et cliquez sur le bouton
                    <i class="material-icons">add</i> pour chaque article.</h6>
                    <br><br>
        
                    <div class="col-md-6">
                        <div class="elegant-card z-depth-1">
                            <div class="card-up">
                                <img src="{{ asset('assets/front/img/bot/2.jpg') }}" class="img-responsive">
                            </div>
                            <div class="card-content">
                                <h5>Version MLBM <i class="asterix">(Machine Learning by BotMe)</i></h5>
                                <p>
                                    C'est un bot qui apprend par lui-même. Celui-ci sera développer par nos ressources interne, selon la demande du client, tout en utilisant <a class="botmecolor" href="https://www.luis.ai/" target="_blank">Luis</a>.
                                    Remplissez un formulaire afin de faire votre demande et recevez ensuite un devis.
                                    <br><br>
                                    <b>Plateforme : </b><br>
                                    Site internet
                                    <br>
                                    <br> 
                                    <b>Prix :</b> À partir de 1400 <i class="fa fa-eur"></i><br>
                                     + support 110<i class="fa fa-eur"></i> /mois TTC <i class="asterix">(à partir d'un mois, sans engagement)</i>
                                </p>
                            </div>
                            <div class="card-footer">
                                <ul class="list-inline">
                                    <li>
                                        <a class="btn-sm-full git-bg rectangle waves-effect waves-light"><span>Faire une demande</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="elegant-card z-depth-1">
                            <div class="card-up wow fadeIn">
                                <img src="{{ asset('assets/front/img/bot/3.jpg') }}" class="img-responsive">
                            </div>
                                <a href="{{ path('dashboard_v_mlp') }}" class="btn-floating btn-large waves-effect waves-light  blue-grey">
                                    <i class="material-icons">add</i>
                                </a>
                            <div class="card-content">
                                <h5>Version MLP <i class="asterix">(Machine Learning Personnalisable)</i></h5>
                                <p>
                                    C'est un bot entièrement personnalisable. Vous avez une interface où vous ajoutez manuellement vos réponses et votre bot
                                    est conçu. Un abonnement support est disponible afin de vous aider dans cette création.
                                    <br>
                                    <br>
                                    <b>Plateforme :</b> <br>
                                    Site internet
                                    <br>
                                    <br>
                                    <b>Prix : </b>
                                    1500 <i class="fa fa-eur"></i>
                                    <br>
                                    + support 110<i class="fa fa-eur"></i> /mois TTC <i class="asterix">(à partir d'un mois, sans engagement)</i>
                                </p>
                            </div>
                            <div class="card-footer">
                                <ul class="list-inline">
                                    <li>
                                        <a class="btn-sm-full git-bg rectangle waves-effect waves-light"><span>Commander</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-dark" id="portfolio">
            <h3 class="wow fadeIn">Nos secteurs d'activités</h3>
        </section>
        <div class="container-fluid">
            <div class="tiled-gallery portfolio">

                <div class="row">

                    <div class="col-md-6">
                        <div class="tile tile-1 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Bâtiments / BTP</h5><div class="mask"></div></a></div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-2 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Voyages</h5><div class="mask"></div></a></div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-3 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Banques</h5><div class="mask"></div></a></div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-8 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Alimentaire</h5><div class="mask"></div></a></div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-5 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Informatique</h5><div class="mask"></div></a></div>
                    </div>

                    <div class="col-md-3">
                        <div class="tile tile-6 view view-first wow fadeIn"><a class="waves-effect waves-light"><h5>Sport</h5><div class="mask"></div></a></div>
                    </div>

                </div>

            </div>
        </div>
        
        <section class="section-white" id="special-offer">
            <h3 class="wow fadeIn">Offre spéciale</h3>
        </section>

        <section class="parallax" id="par-special-offer">
            <div class="container text-center">
                <p class="flow-text text-center wow fadeIn">15% offert sur votre premier achat <br>
                    Commander l'une de nos solutions et obtenez 15% de rabais en tant que nouveau client.
                </p>
                <a class="btn btn-border-light waves-effect waves-teal wow fadeIn offreSpe" href="#blog">J'achéte !</a>
            </div>
        </section>

        <section class="section-white" id="contact">
            <div class="container container-small">
                <div class="row wow fadeIn">
                    <div class="col-md-8">
                        <h3>Contactez nous !</h3>
                        <form class="col-md-12">
                            <div class="row">
                                <div class="input-field col-md-6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Votre nom</label>
                                </div>
                                <div class="input-field col-md-6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="icon_email" type="email" class="validate">
                                    <label for="icon_email">Votre email</label>
                                </div>
                                <div class="input-field col-md-12">
                                    <i class="material-icons prefix">label</i>
                                    <input id="icon_label" type="text" class="validate">
                                    <label for="icon_label">Votre sujet</label>
                                </div>
                            </div>
                        </form>
                        <form class="col-md-12">
                            <div class="row">
                                <div class="input-field col-md-12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Votre message</label>
                                </div>
                            </div>
                        </form>
                        <a class="btn-sm-full email-bg rectangle waves-effect waves-light"><i class="fa fa-envelope-o"> </i> <span>Envoyer</span></a>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <br>
                        <h4>Détails du contact</h4>
                        <hr>
                        <ul class="contact-data">
                            <li><a class="btn-floating btn-small waves-effect waves-light blue-grey"><i class="material-icons">pin_drop</i></a>
                                <p>Paris XII, France</p>
                            </li>
                            <br>
                            <li><a class="btn-floating btn-small waves-effect waves-light blue-grey"><i class="material-icons">phone</i></a>
                                <p>+33 9 00 00 00 00</p>
                            </li>
                            <br>
                            <li><a class="btn-floating btn-small waves-effect waves-light blue-grey"><i class="material-icons">email</i></a>
                                <p>contact@botme.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}