<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# HERE = REFERENCEMENT #}

        <title>{% block title %}BotMe !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/front/img/favicon.png') }}" />

        <!-- Material Design Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Material Design Bootstrap Compiled -->
        <link href="{{ asset('assets/front/css/mdb.css') }}" rel="stylesheet">

        <!-- Template style -->
        <link href="{{ asset('assets/front/css/style.css') }}" rel="stylesheet">

        <!-- Form connexion & sign up style -->
        <link href="{{ asset('assets/front/css/forms.css') }}" rel="stylesheet">
        
        <!-- CSS Compiled Mdb -->
        <link href="{{ asset('assets/front/css/compiled.css') }}" rel="stylesheet"> 

    </head>

    <body>
        <!--Navigation-->
        <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <img src="{{ asset('assets/front/img/logo.png') }}" alt="BotMe" class="logoloz animated bounce">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('homepage') }}#carousel-bg" class="waves-effect waves-light">Accueil</a></li>
                        <li><a href="{{ path('homepage') }}#about-me" class="waves-effect waves-light">A propos</a></li>
                        <li><a href="{{ path('homepage') }}#blog" class="waves-effect waves-light">Chatbots</a></li>
                        <li><a href="{{ path('homepage') }}#portfolio" class="waves-effect waves-light">Nos secteurs</a></li>
                        <li><a href="{{ path('homepage') }}#contact" class="waves-effect waves-light">Contact</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="waves-effect waves-light signup alert-target">
                                <i class="fa fa-key"></i> S'inscrire</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-light login alert-target">
                                <i class="fa fa-lock"></i> Connection</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Form without header-->
        <div id="signup" class="card">
            <div class="card-body mx-4">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text mb-5">
                        <strong>Inscription</strong>
                    </h3>
                </div>
                <!--Body-->
                <div class="md-form">
                    <input type="text" id="Form-name1" class="form-control">
                    <label for="Form-name1">Votre nom</label>
                </div>
                <div class="md-form">
                    <input type="text" id="Form-email1" class="form-control">
                    <label for="Form-email1">Votre email</label>
                </div>
                <div class="md-form pb-3">
                    <input type="password" id="Form-pass1" class="form-control">
                    <label for="Form-pass1">Votre mot de passe</label>
                </div>
                <div class="md-form pb-3">
                    <input type="password" id="Form-pass1" class="form-control">
                    <label for="Form-pass1">Confirmez votre mot de passe</label>
                </div>
                <div class="form-check mr-3">
                    <input class="form-check-input" type="checkbox" id="inlineFormCheckbox1">
                    <label class="form-check-label" for="inlineFormCheckbox1">J'acceptes les <a href="">CGV et les CGU de BotMe</a></label>
                </div>
                <br>
                <div class="text-center mb-3">
                    <a href="#" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Je m'inscris</a>
                </div>
            </div>
        
        </div>
        <!--/Form without header-->

        <!--Form without header-->
        <div id="connect" class="card">
            <div class="card-body mx-4">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text mb-5">
                        <strong>Connection</strong>
                    </h3>
                </div>
                <!--Body-->
                <div class="md-form">
                    <input type="text" id="Form-email1" class="form-control">
                    <label for="Form-email1">Votre email</label>
                </div>
                <div class="md-form pb-3">
                    <input type="password" id="Form-pass1" class="form-control">
                    <label for="Form-pass1">Votre mot de passe</label>
                    <p class="font-small blue-text d-flex justify-content-end">
                        <a class="blue-text ml-1" id="passmiss">Mot de passe perdu ?</a>
                    </p>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Connection</button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">Pas encore membre ?
                    <a class="blue-text ml-1" id="sign"> S'inscrire</a>
                </p>
            </div>
        
        </div>
        <!--/Form without header-->

        <!--Form without header-->
        <div id="mdpmiss" class="card">
            <button type="button" class="btn btn-primary returnRes"><i class="fa fa-chevron-left"> </i></button>
            <div class="card-body mx-4">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text mb-5">
                        <strong>Réinitialiser votre mot de passe</strong>
                    </h3>
                </div>
                <!--Body-->
                <div class="md-form">
                    <input type="text" id="Form-email1" class="form-control">
                    <label for="Form-email1">Votre email</label>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Réinitialiser</button>
                </div>
            </div>
        </div>
        <!--/Form without header-->

        <div class="card info-color text-center z-depth-2" id="infoEchap">
            <div class="card-body">
                <p class="white-text mb-0"><i class="fa fa-info-circle"></i> Appuyez sur ECHAP pour fermer les menus flottants.</p>
            </div>
        </div>

        <!--/.Navigation-->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <!-- Footer with social buttons -->
        <footer class="page-footer blue-grey">
            <div class="container-fluid">
                <div class="row text-center wow fadeIn">
                    <h4 class="white-text">Retrouvez nous sur les réseaux sociaux</h4>
                    <div class="col-md-4" style="margin-left:unset !important;">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="waves-effect waves-light signup">
                                    CGV / CGU</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-light login">
                                    Mentions Légales</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4" style="margin-left:unset !important;">
                        <a class="btn-sm-full fb-bg rectangle waves-effect waves-light" target="_blank">
                            <i class="fa fa-facebook"> </i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn-sm-full tw-bg rectangle waves-effect waves-light" target="_blank">
                            <i class="fa fa-twitter"> </i>
                            <span>Twitter</span>
                        </a>
                        <a href="https://github.com/Fradeira/BotMe" class="btn-sm-full git-bg rectangle waves-effect waves-light" target="_blank">
                            <i class="fa fa-github"> </i>
                            <span>Github</span>
                        </a>
                    </div>
                    <div class="col-md-4" style="margin-left:unset !important;">
                        <!-- Other -->
                    </div>
                </div>
            </div>
            <br>
            <div class="footer-copyright">
                <div class="container-fluid text-center">
                    © 2018 Copyright
                    <a class="grey-text text-lighten-4 right">BotMe
                        <i class="fa fa-heart heart-color" style="color:red;"></i>
                    </a>
                </div>
            </div>
        </footer>
        <!--/. Footer with social buttons -->

        <!--/. Parallax -->


        <!-- Section: Portfolio -->
        <!-- JQuery -->
        <script type="text/javascript" src="{{ asset('assets/front/js/jquery.min.js') }}"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>

        <!-- Material Design Bootstrap -->
        <script type="text/javascript" src="{{ asset('assets/front/js/mdb.js') }}"></script>

        <!-- Smooth scroll -->
        <script type="text/javascript" src="{{ asset('assets/front/js/smooth-scroll.js') }}"></script>

        <!-- JS homepage -->
        <script type="text/javascript" src="{{ asset('assets/front/js/main.js') }}"></script>

        <!-- WOW effect -->
        <script>
            new WOW().init();
        </script>
    </body>
</html>
